* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(#37b2fe, rgb(234, 245, 255));
}
.navBar {
  height: 2px;
  background-color: rgb(8, 0, 255);
}

#heading {
  color: rgb(246, 255, 255);
  display: flex;
  justify-content: center;
  font-family: "poppins";
  font-size: 100px;
}
.parentContainer {
  display: flex;
  justify-content: center;
}

.container {
  /* display:inline;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  /* border: 2px solid; */
  overflow: auto;
  overflow-anchor: none;
  width: 90%;
  height: 330px;
  width: 900px;
}
